.password-container {
    width: 40%;
    height: fit-content;        
    background-color: #F1F1F1;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0px 0px 3px 0.3px rgb(66 66 66);
    border-radius: 5px;
}


.forgot-password-header {
    height: fit-content;
    background-color: #0084ff;
    font-size: 25px;
    font-family: sitka banner;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.alert-message {
    margin-top: 40px;
    font-size: 18px;
    height: 50px;
    color: gray;
    font-family: sitka banner;
    padding-left: 30px;
    padding-right: 30px;
    height: fit-content;
}

.e-mail-address {
    width: 100%;
    justify-self: center;
    border: 1px solid #a9a9a9;
    line-height: 1;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 14px;
    font-family: sans-serif;
    word-wrap: break-word;
    height: 30px;
    min-width: 150px;
    margin-top: -10px;
}

  

.input-field-container {
    width: 60%;
    margin: 0 auto;
    top: 10px;
    position: relative;
    height: 250px;
}

.e-mail-address:focus {
    border-color: cornflowerblue;
    outline: none ;
    box-shadow: 0px 0px 3px 0.3px #a9a9a9;
  }
  

.send-email {
    font-size: 14px;
    background-color: #0084ff;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: color .2s,background-color .2s,outline .2s,opacity .2s;
    transition: color .2s,background-color .2s,outline .2s,opacity .2s;
    position: relative;
    border: none;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 30px;
    height: 35px;
    width: 200px;
}

.send-email:hover{
    color: black;
}

.send-email:focus {
    outline:none;
}

.back-to-login{
    width: 100%;
    height: 15%;
    background-color: #dcdcdc;
    line-height: 70px;
    position: absolute;
    text-align: left;
    bottom: 0px;
    border: none;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.back-to-login-text{
    line-height: 15%;
    vertical-align: middle;
    height: fit-content;
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: gray;
    cursor: pointer;
    font-weight: bold;
}

.label {
    text-align: left;
    margin-left: 1;
    height: fit-content;
    font-weight: bold;
    font-size: 14px;
    font-family: inherit;
    color: #6b6b6b
}

.back-to-login-text:hover{
    color: black;
}

.emailsend{
    color: black;
    font-size: medium;
}
.modal-content{
    display: grid;
  }

.password-restore-input{
    width: 65%;
    justify-self: center;
    margin: 7px;
    border: 1px solid #a9a9a9;
    line-height: 1;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    word-wrap: break-word;
    height: 30px;
    min-width: 150px;
}
.password-reset-head{
    font-family: Sitka Banner;
    text-align: center;
    font-weight: 600;
    }

.password-change{
    font-size: 14px;
    background-color: #0084ff;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: color .2s,background-color .2s,outline .2s,opacity .2s;
    transition: color .2s,background-color .2s,outline .2s,opacity .2s;
    margin: 0 auto;
    position: relative;
    border: none;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 10px;
    height: 35px;
}

.email-info{
color:black;
position:relative;
text-align: center;
margin-bottom: 10px;
margin-top: 5px;


}

.password-restore-text{
  color: red;
  position: relative;
  text-align: center;
  font-size: small;
  margin: 0px;
}