.welcome-paragraph {
    padding: 40px;
}

.welcome {
    font-size: 30px;
    color: #616161;
    font-family: sitka banner;
    text-align: center;
}

.success-stories{
    padding: 40px;
}

.success-stories-title{
    font-size: 30px;
    color: #616161;
    font-family: sitka banner;
}

.success-stories-image{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.success-stories-image-container {
    height: 120px;
    width: 120px;
    background: black;
    border-radius: 50%;
}

.success-stories-text-title{
    padding: 15px;
    /* margin-right: 20px; */
    height: fit-content;
    width: 60%;
    align-self: center;
    margin-top: 1%;
    padding-top: 0px;
}


.container {
    display: -webkit-box;
    vertical-align: middle;
    /* position: absolute; */
    height: fit-content;
    margin-top: 50px;
}

.success-story-name {
    color: dimgray;
    font-weight: bold;
    font-family: sitka banner;
    font-size: 20px;
}

.success-stories-text{
    font-family: Sitka Banner;
    font-size: 17px;
    color: dimgray;
}

.contact-us{
    width: 60%;
    height: 100%;
    background-color: #e6e5e5;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 10px;
    text-align: center;
}

.contact-us-title{
    margin: 0 auto;
    text-align: center;
    /* margin-top: 40px; */
    width: fit-content;
    position: relative;
    top: 20px;
    font-size: 30px;
    color: orangered;
    font-family: sitka banner;
}

.contact-us-container{
    height: 500px;
    width: 90%;
    margin: 0 auto;
}

.inputs-container {
    display: inline-grid;
    padding: 50px;
    width: 70%;
    min-width: 50px;
}