.home{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
}

.flex-right-container {
    height: 100%;
    width: calc(100% - 220px);
    float: right;
}


.middle-panel-container {
    height: 100%;
    position: absolute;
    background-color: #e9e9e9;
    width: calc(100% - 220px);
    overflow: auto;
}



.MuiSvgIcon-root {
    height: 40px !important;
    width: 40px !important;
}

.middle-panel{
    width: 100%;
    min-height: calc(100% - 50px);
  }

  .create-user-box {
    height: fit-content;
    width: 500px;
    background-color: #F1F1F1;
    right: 30%;
    position: absolute;
    top: 300px;
    border-radius: 10px;
    vertical-align: middle;
    position: absolute;
    padding: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0.3px rgb(66 66 66);
  }

.create-user-top{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    position: relative;
}

.create-user-input-container{
    top: 50px
}

.create-user-input{
    width: 65%;
    justify-self: center;
    margin: 7px;
    border: 1px solid #a9a9a9;
    line-height: 1;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    word-wrap: break-word;
    height: 30px;
    min-width: 450px;
}
.changeroll{
    font-size: 17px;
	padding: .4em 1em .3em .4em;
    width: 450px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
}

.label-roll{
    font-size: larger;
    margin: 15px;
    }

.confirm-button{
    font-size: 14px;
    background-color: #0084ff;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: color .2s,background-color .2s,outline .2s,opacity .2s;
    transition: color .2s,background-color .2s,outline .2s,opacity .2s;
    margin: 0 auto;
    position: relative;
    border: none;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
    height: 35px;
    
    left: 40%;
}
.change-roll-mail{
    width: 50%;
    justify-self: center;
    margin: 7px;
    border: 1px solid #a9a9a9;
    line-height: 1;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    word-wrap: break-word;
    height: 30px;
    min-width: 450px;
}
