.row {
    text-align: center;
    padding: 70px;
    display: grid;
    height: 100%;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem,100%), 1fr) );
    grid-gap: 150px;
    grid-template-rows: repeat(auto-fill, 300px);
    justify-items: center;
}

  .item {
      height: 400px;
      width: 400px;
      background-color: gray;
  }
  