.first-paragraph {
    display: flex;
}

.kids-photo {
    right: 0px;
    width: 40%;
    position: absolute;
    padding: 40px;
}

.be-creative {
    color: #FF4338;
    font-weight: bold;
    font-size: 20px;
}

.first-paragraph-left {
    font-size: 15px;
    width: 40%;
    color: darkgray;
    margin-left: 15px;
    padding: 40px;
}

.second-paragraph {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 100px;
}

.educational-mission-title {
    font-size: 20px;
}

.mission-photo {
    padding: 60px;
    width: 60%;
}

.educational-mission-elements {
    display: flex;
}

.educational-mission-elements-item {
    width: 30%;
    padding: 40px;
}

.educational-mission-elements-item-content {
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    font-family: sitka banner;
}





