.sicknote-container {
    height: fit-content;
    border-radius: 10px;
    width: 250px;
    background-color: white;
    -webkit-box-shadow: 2px 0px 5px 0px rgb(0 0 0 / 75%);
    box-shadow: 0px 0 4px 0.3px rgb(0 0 0 / 40%);
    text-align: -webkit-center;
    min-width: 150px;
    min-height: 250px;
}


.sicknote-title-container {
    border-bottom: 3px solid dimgray;
    border-bottom-style: double;
}


.sicknote-title {
    height: fit-content;
    width: fit-content;
    font-weight: bolder;
    font-family: sitka banner;
    font-size: 18px;
    margin: 10px;
    color: gray;
}

.sicknote-bold-style {
    font-size: 17px;
    font-family: sitka banner;
    color: dimgray;
}

.sicknote-info {
    margin-top: 25px;
    font-size: 17px;
    font-family: sitka banner;
    color: dimgray;
}

.confirm-sicknote {
    font-size: 14px;
    background-color: #04c683;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: color .2s,background-color .2s,outline .2s,opacity .2s;
    transition: color .2s,background-color .2s,outline .2s,opacity .2s;
    margin: 0 auto;
    position: relative;
    border: none;
    line-height: 1;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 15px;
    height: 35px;
}

.confirm-sicknote:hover  {
    color: black;
}

.confirm-sicknote:focus {
    outline:none;
}

.sicknote-confirmed {
    color:  #04c683;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 17px;
}
