.topbar-container{
    height: 50px;
    background-color: white;
    position: relative;
    box-shadow: 0px -1px 3px 1px rgb(0 0 0 / 75%);
    z-index: 1;
}

.user-options{
    display: inline-block;
    height: 40px;
    width: 40px;
    right: 40px;
    position: fixed;
    background-color: #bbb9b9;
    border-radius: 50%;
    vertical-align: middle;
    top: 5px;
    box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 45%);
    cursor: pointer;
}

.user-options:hover {
    transform: scale(1.05) ;
}

.dropbtn {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: white;
    position: relative;
    top: 5px;
    left: 7px;
}

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    position: relative;
    /* margin-right: 10px; */
    right: 100px;
  }


  
  .dropdown-content a {
    color: dimgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
